<!DOCTYPE html>
<html>
  <head>
    <title>WebApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <% if notice %>
      <div class="fixed top-4 left-1/2 transform -translate-x-1/2 bg-gray-100 border border-gray-300 text-gray-700 px-6 py-3 rounded-lg shadow-sm" role="alert">
        <span class="block text-center"><%= notice %></span>
      </div>
    <% end %>
    
    <% if alert %>
      <div class="fixed top-4 left-1/2 transform -translate-x-1/2 bg-gray-100 border border-gray-300 text-gray-700 px-6 py-3 rounded-lg shadow-sm" role="alert">
        <span class="block text-center"><%= alert %></span>
      </div>
    <% end %>

    <main class="min-h-screen flex items-center justify-center">
      <%= yield %>
    </main>
  </body>
</html>
